/* Reset
		============================== */

body {
	height: 100vh;
}

/* List
		============================== */

ul {
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
}

li {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 450px;
	margin: auto;
	font-size: 30px;
	font-weight: bold;
	border: solid 2px grey;
	border-radius: 15px;
	padding-top: 20px;
	background-color: #f7f7f7;
}

/* Sprite
		============================== */

.i-html, .i-css, .i-js {
	height: 400px;
	width: 300px;
	border-radius: 15px;
}

.i-html {
	background: url("./images/0-sprite.png") 0 0;
}

.i-css {
	background: url("./images/0-sprite.png") 580px 0;
}

.i-js {
	background: url("./images/0-sprite.png") 290px 0;
}
